[Unit]
Description=Minecraft BE
Wants=network-online.target
After=network-online.target

[Service]
User=minecraft
WorkingDirectory=/minecraft

ExecStart=screen BedrockServer bash scripts/start.sh

Restart=always
RestartSec=30

StandardInput=null

[Install]
WantedBy=multi-user.target